<!DOCTYPE html>
<html>
    <head>
        <title>attendance fill</title>
    </head>
    <body>
         <div>
            <form action="endpoint1" method="GET">
                <input type="submit" value="endpoint1">
            </form>
            <br>
            <form action="endpoint2" method="GET">
                <input type="submit" value="endpoint2">
            </form><br>
            <form action="endpoint3" method="GET">
                <input type="submit" value="endpoint3"> 
            </form><br>
            <form action="test" method="GET">
                <input type="submit" value="test">
            </form>
         </div>
        </div>
    </body>
</html>